@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color:  #f5eef8;
    margin-inline: 5rem;
}

input {
    width: 10rem;
    padding: .5rem;
}

button {
    border: none;
    border-radius: .5rem;
    padding: .5rem;
}
