@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
}

circle.progress {
    margin: 0 auto;
    display: block;
    position: absolute;
    cy: 50vmin;
    cx: 50vmin;
    r: 46.5vmin;
    fill: none;
    stroke-dasharray: 2051;
    stroke-dashoffset: 2051;
    stroke: url(#circle.progress.color);
    stroke-width: 3.5vh;
    stroke-linecap: round;
    transform-origin: center;
    transform: rotate(-90deg);
}

circle.progress.animation {
    animation: circle 3s linear forwards;
}


svg {
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vmin;
    width: 100vmin;
}

svg text {
    font-size: 10vmin;
    font-family: 'Roboto', sans-serif;
    
}

@keyframes circle {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 2051;
    }
}